body { font-family: sans-serif; }
h1 { text-align: center; }
#board {
  margin: auto;
  width: 558px;
  background-color: gray;
  overflow: hidden;
}
.row1 {
  overflow: hidden;
}
.cell {
  background-color: orange;
  display: block;
  float: left;
/*   border: 1px solid black; */
  margin: 1px;
  width: 60px;
  height: 60px;
}
